fastapi>=0.104.1
uvicorn==0.22.0
sqlalchemy==2.0.12
psycopg2-binary==2.9.6
redis==4.5.5
pydantic>=2.5.2
pydantic-settings>=2.1.0
pydantic-core>=2.14.5
ollama==0.3.3
langchain==0.0.350
langchain-community==0.0.10
langchain-core==0.1.10
pypdf==3.17.1
faiss-cpu==1.7.4
python-multipart==0.0.18
typing-inspect==0.9.0
typing_extensions==4.8.0
unstructured>=0.11.0
unstructured[epub]>=0.11.0
pypandoc>=1.11